@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background-color: lightgray;
}
header
{
    background-image: url(../imagens/header/download1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
span#burguer
{
    height: 30px;
    background-color: transparent;
    display: inline-block;
    color: black;
    padding: 0px;
}
#burguer:hover
{
    color: white;
    cursor: pointer;
}
menu{
    display: inline-block;
    display: none;
    box-sizing: border-box;
}
header h1
{
    text-align: center;
    padding: 10px;
    padding-bottom: 60px;
    color: #A80054;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.377);
}
menu > ul
{
    list-style-type: none;
}
menu > ul > li >a
{
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: rgb(99, 99, 99);
    text-align: center;
    border-top: 2px solid gray;
    color: white;
}
menu > ul > li> a:hover
{
    background-color: rgb(176, 175, 175);
    border-top: rgb(176, 175, 175);
}
main
{
    width: 90vw;
    background-color: white;
    padding: 10px;
    line-height: 25px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}
article > h2
{
    text-align: center;
    padding: 10px 0px 20px 0px;
}
article > p
{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}