@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background-color: lightgray;
}
header
{
    background-color: #159da2;
    background-image: url(../imagens/header/download1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.348)
    

}
span#burguer
{
    height: 30px;
    background-color: rgb(83, 83, 83);
    display: block;
    color: white;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.484);
    border-radius: 0px 0px 5px 5px;
}
#burguer:hover
{
    color: black;
    cursor: pointer;
}
menu{
    display: none;
    box-sizing: border-box;
    margin-top: 0px;
    margin: auto;
}
#itens
{
    margin: 0px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.459);
}
header h1
{
    text-align: center;
    padding: 10px;
    padding-bottom: 60px;
    color: #A80054;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.377);
}
menu > ul
{
    list-style-type: none;
}
menu > ul > li 
{
    margin: -1px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.208);
}
menu > ul > li >a
{
    margin: 0px;
    margin-top: 1px;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: rgb(99, 99, 99);
    text-align: center;
    border-top: 2px solid gray;
    color: white;
}
menu > ul > li> a:hover
{
    color: black;
    transition: .5s;
    box-sizing: border-box;
    background-color: rgb(176, 175, 175);
    
}
#menu1
{
    border-radius: 0px 5px 5px 0px;
}
main
{
    width: 90vw;
    background-color: white;
    padding: 10px;
    line-height: 25px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.486);
}
article > h2
{
    text-align: center;
    padding: 10px 0px 20px 0px;
}
article > p
{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}
footer
{
    background-color: rgb(44, 44, 44);
}
footer > p 
{
    color: white;
    font-size: small;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0px;
}