@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
}

body
{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:#5A2F7D;
}

main
{
    position:absolute;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

main > section > form 
{
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
}
#login
{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -20px;
    margin-bottom: 20px;
    text-align: center;
}
#bemvindo
{
    margin-bottom: 20px;
}

#divBusca{
    background-color:#5A2F7D;
    border:solid 1px;
    border-radius:10px;
    min-width: 200px;
    max-width:350px;
    margin-bottom: 5px;
    padding-left: 40px;
    height: 50px;
    padding-right: 5px;
  }
  
  input 
{
    width: 90%;
    height: 45px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
}
.senhaa,.emaill
{
    background-color: #77c3bf;
}
.senhaa:hover,.emaill:hover
{
    background-color: white;
}
.entrarr
{
    background-color: #479a96;
    color: white;
}
.entrarr:hover
{
    background-color: #71faf3;
    color: black;
}
.esquecii
{
    background-color: white;
}
.esquecii:hover
{
    background-color: rgb(124, 124, 124);
}